<%= form_for @story, :url => {:action => 'save', :id => @story.id} do |f|%>
  <div>
    <%= f.text_area :body, :value => '', :style => 'width:99%' %>
  </div>
  <div>
    <%= f.submit :class=>'left-align-button' %>
  </div>
<% end %>
