<% if story != nil %>
  <div class=story>
    <div id=title class=highlight-text>
      <%= story.title %>
    </div>
    <div class=story-body>
      <% if story.body != nil %>
        <%= story.body.gsub(/\n/, '<br/>').html_safe %>
      <% end %>
    </div>
  </div>
<% end %>
