<% if story != nil %>
  <div class=story>
    <div id=title class=highlight-text>
      <%= story.title %>
    </div>
    <div class=story-body>
      <%= story.body.gsub(/\n\r\n\r/, '<br/>').html_safe %>
    </div>
  </div>
<% end %>
