<h2 id=about-first-header>What is the fanfic?</h2>
<p>
The 4E Fanfic a fan fiction written about 4E, by 4E, in round-robin style. Someone writes a sentence, or paragraph, or multiple paragraphs, and then passes it on to someone else. It usually ends up being a stupid, awesome amalgamation of a bunch of 4E buzzwords and in-jokes.
</p>

<h2>Who can participate?</h2>
<p>
Any current resident of 4E can participate. Previous residents are also welcome, but the website requires certificates, which may be a problem.
</p>

<h2>Rules</h2>
<p>
You may only write about people who are participating in the fanfic. I conveniently provide a list of these people on the right side of the fanfic. Also, don't be a dick. Use your judgement.
</p>

<h2>Anonymity</h2>
<p>
The 4E Fanfic is as anonymous as possible. <em>Technically</em> the admin could frequently look into the database to see who the current editor is, but that is always going to be true as long as we have to use MIT certificates for user identification. It is as difficult as reasonably possible for the admin to get any information about who contributed what.
</p> 

<h2>Source code</h2>
<p id=about-last-paragraph>
 You can download the source code if you want.  It's right <a href="https://github.com/masong/4e-fanfic">here</a>
</p>
