/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

$blue: #3b79bf;
$header-font: 'Vidaloka', serif;

body {
  background:url('bg.png');
  margin-top:16px;
  margin-bottom:32px;
}

body h2 {
  margin-bottom: -0.6em;
}

#center-col {
  margin:auto;
  width:800px;
}

.round-box {
  background:#eeeeee;
  border-radius:6px;
  box-shadow: 0px 0 10px black;
  margin-top:8px;
  padding:14px;
}

#header {
  height:70px;
  padding:0;
}

#logo {
  cursor:pointer;
  float:left;
  font-family: $header-font;
  font-size:44pt;
  margin-left:10px;
}

#logo-text:hover {
  cursor:pointer;
  text-decoration:none;
}

body a:hover {
  text-decoration:underline;
}

#nav-links {
  cursor:default;
  float:right;
  font-family: $header-font;
  font-size:24pt;
  margin:14px 0;
  margin-right:24px;
}

.nav-link {
  color:black;
  cursor:pointer;
  text-decoration:none;
}

#current-nav-link {
  color:$blue;
  text-decoration:none;
}

.highlight-text {
  color:$blue;
}

.highlight-text:hover {
  text-decoration:none;
}

#title {
  cursor:default;
  font-family:$header-font;
  font-size:24pt;
}

.date {
  color:black;
  display:inline;
  font-size:18pt;
}

@mixin rotate($angle) {
  @each $b in webkit, moz, o, ms {
    -#{$b}-transform: rotate(#{$angle}deg);
  }
}

.arrow-right {
  border-bottom: 5px solid transparent;
  border-left: 5px solid $blue;
  border-top: 5px solid transparent;
  float:left;
  height:0;
  margin-top:14px;
  width:0;

  @include rotate(0);
  @each $b in webkit, moz, o, ms {
    -#{$b}-transition: -#{$b}-transform 300ms;
  }
}

.arrow-rotate-down {
  @include rotate(90);
}

#curr-story {
  border-color:#aaaaaa;
  border-right-style:solid;
  border-width:1px;
  float:left;
  margin-left:1%;
  margin-right:2%;
  padding-right:2%;
  width:65%;
}

.story-body {
  border-color:#aaaaaa;
  border-bottom-style:solid;
  border-width:1px;
  padding-bottom:6px;
}

#last-story {
  border-bottom-style:none;
}

#reg-users {
  padding-left:5%;
}

#participants-bar {
  float:left;
  width:29%;
}

#participants-header {
  margin-top:0.0em;
  margin-bottom:0.1em;
}

#dereg-link {
  color:$blue;
}

#reg-link {
  color:$blue;
}

#timer {
  border-width:0px;
  color:red;
  font-size:13pt;
  font-weight:bold;
}

.admin-title {
  display:inline;
  color: $blue;
}

.admin-action a {
  color: black;
  text-decoration:underline;
}

.admin-action a:hover {
  color:$blue;
}

.admin-header {
  font-size:20pt;
}

.admin-subsection {
  margin-left:8px;
}

#about-first-header {
  margin-top: -0.3em;
}

#about-last-paragraph {
  margin-bottom: -0.3em;
}
