<div id=header class=round-box>
  <div id=logo>
    <a href=/>Fanfic</a>
  </div>
  <div id=nav-links>
    <a href=/ <% if is_current_page? %>class=highlight-text<% end %>>current</a> |
    <a href=/stories <% if is_archive_page? %>class=highlight-text<% end %>>archive</a> |
    <a href=/about <% if is_about_page? %>class=highlight-text<% end %>>about</a>
    <% if is_admin? %>
      | <a href=/admin <% if is_admin_page? %>class=highlight-text<% end %>>admin</a>
    <% end %>
  </div>
</div>
